dotenv==0.9.9
landingai-ade==1.6.0
beautifulsoup4==4.14.3
pydantic-settings==2.13.1
langchain-ollama==1.0.1
langchain-classic==1.0.2
langchain-community==0.4.1
faiss-cpu==1.13.2
watchdog==6.0.0
FlashRank==0.2.10